body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(103, 103, 103);
    padding: 10px;
  }
  
  .nav-left a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .nav-right form {
    display: flex;
    align-items: center;
  }
  
  .nav-right input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .nav-right button[type="submit"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

#title {
    font-family: "Bradley Hand ITC";
    text-align: center;
    font-size: 20px;
}

#description {
    margin-top: 10px;
    font-family: "Bradley Hand ITC";
    font-size: 35px;
}

#link {
    margin-top: 10px;
    font-family: "Bradley Hand ITC";
    font-size: 35px;
}


  footer {
    background-color: rgb(103, 103, 103);
    color: #fff;
    padding: 5px;
    text-align: center;
  }
  