.getstarted{
    background-image: url(women-anime-girls-brunette-cat-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}



.getstarted{
    text-align: left;
    padding: 50px;
    color: white;
}

